@import url('https://fonts.googleapis.com/css2?family=Yomogi&display=swap');


* {
    box-sizing: border-box;
  }

  div.Education:hover,.header:hover,.MilitaryService:hover,.Employment:hover,.PersonalProject:hover,.Skills:hover,.Languages:hover {
    background-image: url("../images/back4.jpg");
    /*transform: scale(1,1.05);*/
  }

  @font-face {
    font-family: HeeboFont;
    src: url(Heebo-Light.ttf.ttf);
  }

  body {
   
   background-image: url("../images/back4.jpg");
   font-family:'Yomogi', cursive;
  
  }
 
 
  
 h1{
     text-align: center;
     font-size: 70px;
     color: rgb(12, 11, 11);
     font-weight: bold;
     transition: all 4s ease-in-out;
 } 


  
  /* Style the header */
  .header {
    grid-area: header;
    background-color:rgba(255, 255,255, 0.2);
    padding: 10px;
    text-align: center;
    font-size: 20px;
    /*font-family:HeeboFont ;*/
    border: solid 2px;
    font-style:oblique;
    font-weight: bold;
    font-family: 'Yomogi', cursive;;
    
                    
    
  }
  
  /* The grid container */
  .grid-container {
    display: grid;
    grid-template-areas: 
      'header header header header header header ' 
      'Education Education MilitaryService MilitaryService Employment Employment'
      'PersonalProject PersonalProject Skills Skills Languages Languages' 
      'contact contact contact contact contact contact';
      
    /*grid-column-gap: 10px; /*- if you want gap between the columns*/ 
    
  } 
  
  .Education,
  .MilitaryService,
  .Employment,
  .PersonalProject,
  .Skills,
  .Languages {
    padding: 10px;
    height: 200px; /* Should be removed. Only for demonstration */
    text-align: center;
    border: solid 2px;
    font-family: 'Yomogi', cursive;
    /*vertical-align: middle;
    line-height: 100px; */
    font-size: 20px;
    /*font-style:oblique;*/
    background-color:rgba(255, 255,255, 0.2);
    font-weight: bold;
  }


  img.grid-container {
    height: 50px;
    width: 50px;
  }
 
  

  /* Style the left column */
  .Education {
    grid-area: Education;
    place-items:center ;
    
  }
  
  /* Style the middle column */
  .MilitaryService {
    grid-area: MilitaryService;
    
  }
  
  /* Style the right column */
  .Employment {
    grid-area: Employment;
    
  }

  .PersonalProject{
    grid-area: PersonalProject;
    
  }

  .Skills{
    grid-area: Skills;
    
  }

  .Languages{
    grid-area: Languages;
    
  }



  
  /* Style the footer */
  .Contact {
    grid-area: contact;
    /*background-color: #f1f1f1;*/
    padding: 10px;
    text-align: center;
    /*background: linear-gradient(rgba(0,0,150,0.5),rgba(0,0,50,0.5),url("contact.jpg"));*/
    background-size: cover;
    background-position:center;
    font-family: HeeboFont;
    /*background-image: url("contact2.jpg");*/
    /*margin-top: 10px;*/
    /*text-transform: uppercase;*/
    /*transition: all 4s ease-in-out;*/
    border: solid 2px;
  }
  
form{
  margin-top: 50px;
  transition: all 4s ease-in-out;
}
.form-control{
  width: 600px;
  background: transparent;
  border: none;
  outline: none;
  border-bottom: 1px solid black;
  color: black;
  font-size: 18px;
  margin-bottom: 16px;
}

input{
  height: 30px;
}

form .submit {
  margin-bottom: 20px;
  background-color: rgba(255, 255,255, 0.2);
  /*opacity: 0.6;*/
  font-size: 20px;
  border-radius: 20px;
  letter-spacing: 2px;
  height: 50px;
  border: solid ;
}

form .submit:hover{
  background-color: rgba(255, 255,255, 0.4);
  cursor: pointer;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color:black;
  opacity: 1; /* Firefox */
}



.line {
  position: relative;
  top: 8%;
  width: 16em;
  margin: 0 auto;
  border-right: 2px solid rgba(10, 10, 10, 0.616);
  font-size: 220%;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  transform: translateY(-50%);
  font-family: 'Anonymous Pro', monospace;
  color:black;
}

.anim-typewriter {
  animation: typewriter 4s steps(40) 4s 5 normal both,
  blinkTextCursor 500ms steps(10)  infinite normal;
  animation-direction: alternate;

}

@keyframes typewriter {
  from {
        width: 0;
  }
  to {
        width: 7em;
  }}

@keyframes blinkTextCursor {
  from {
        border-right-color: rgba(14, 13, 13, 0.75);
  }
  to {
        border-right-color: transparent;
  }
}







  

  
  /* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
  @media (max-width: 700px) {
    .grid-container  {
      grid-template-areas: 
      'header header header header header header ' 
      'Education Education Education MilitaryService MilitaryService MilitaryService'
      'Employment Employment Employment PersonalProject PersonalProject PersonalProject' 
      'Skills Skills Skills Languages Languages Languages' 
      'contact contact contact contact contact contact';
    }
  }

  @media (max-width: 600px) {
    .grid-container  {
      grid-template-areas: 
      'header  ' 
      'Education '
      'MilitaryService '
      'Employment' 
      'PersonalProject' 
      'Skills' 
      'Languages'
      'contact';
    }
  }


